<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <nav>
        <a href="/">Tech Blog</a>
        <div>
            <a href="/">Home</a>
            <a href="/dashboard">Dashboard</a>
            {{#if logged_in}}
            <button id="logout">Logout</button>
            {{else}}
            <a href="/login"><button>Login</button></a>
            {{/if}}
        </div>
    </nav>
    <main>
    {{{body}}}
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>