

<div class="loginContainer wide">
    <h2>New Post</h2>
    <form id="newPostForm" class="wide">
        <input type="text" id="postTitle" name="postTitle" placeholder="Post Title" required>
        <br>
        <textarea id="postBody" name="postBody" rows="6" cols="50" placeholder="Text goes here..." required></textarea>
        <br>
        <input type="submit" value="Create Post">
    </form>
</div>

<script src="/js/post.js"></script>