
<div id="dashboardHead">
    <h1>Dashboard</h1>
    <a href="/dashboard/createpost"><button id="createPostBtn">Create New Post</button></a>
</div>

<div id="postList">

    <a href="" class="blogPost">
        <h2>Blog Title</h2>
        <p>this will be the blog text, blah blah blah</p>
        <div>
            <button>Edit</button>
            <footer>Created on 7/4/2023</footer>
            <button>Delete</button>
        </div>
    </a>
    
</div>