
<a href="" class="blogPost">
    <h2>Blog Title</h2>
    <p>this will be the blog text, blah blah blah</p>
    <footer>Post created by USER on 7/4/2023</footer>
</a>

<a href="" class="blogPost">
    <h2>Blog Title</h2>
    <p>this will be the blog text, blah blah blah this will be the blog text, blah blah blah this will be the blog text, blah blah blahthis will be the blog text, blah blah blahthis will be the blog text, blah blah blahthis will be the blog text, blah blah blah</p>
    <footer>Post created by USER on 7/4/2023</footer>
</a>
<a href="" class="blogPost">
    <h2>Blog Title</h2>
    <p>this will be the blog text, blah blah blah</p>
    <footer>Post created by USER on 7/4/2023</footer>
</a>
<a href="" class="blogPost">
    <h2>Blog Title</h2>
    <p>this will be the blog text, blah blah blah</p>
    <footer>Post created by USER on 7/4/2023</footer>
</a>