
<div class="loginContainer">
    <h2>Log In</h2>
    <form id="loginForm">
        <input type="text" id="usernameLI" name="username" placeholder="Username" required>
        <br>
        <input type="text" name="password" id="passwordLI" placeholder="Password" required>
        <br>
        <input type="submit" value="Log In">
    </form>
    <a href="/signup">Sign up here</a>
</div>

<script src="/js/login.js"></script>