
<div class="loginContainer">
    <h2>Sign Up</h2>
    <form id="signupForm" action="" method="post">
        <input type="text" id="username" name="username" placeholder="Username" required>
        <br>
        <input type="text" name="password" id="password" placeholder="Password" required>
        <br>
        <input type="submit" value="Sign Up">
    </form>
    <a href="/login">Log In here</a>
</div>