:root {
    --darkGray: #212121;
    --lightGray: #323232;
    --darkBlue: #0D7377;
    --lightBlue: #14FFEC;
}

body {
    background-color: var(--lightGray);
    margin: 0;
}

nav {
    background-color: var(--darkGray);
    display: flex;
    justify-content: space-between;
}

nav a{
    padding: 15px;
    margin-left: 5%;
    font-size: 40px;
    font-family: monospace;
    font-weight: 700;
    text-decoration: none;
    color: var(--lightBlue);
    text-shadow: 1px 1px 10px black;
}

nav a:hover{
    text-shadow: 1px 1px 15px var(--lightBlue);
}

nav div {
    display: flex;
    margin-right: 5%;
    width: 25%;
    justify-content: space-around;
}

nav div a {
    margin: auto;
    text-decoration: none;
    font-size: 24px;
    color: white;
}

main {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 2%;
}

.blogPost {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    border: 5px solid var(--darkBlue);
    box-shadow: 2px 2px 10px black;
    border-radius: 8px;
    width: 40%;
    margin: 2%;
    height: 30vh;
}

.blogPost:hover{
    box-shadow: 1px 1px 15px var(--lightBlue);
}

.blogPost h2{
    background-color: var(--darkBlue);
    margin: 0;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 4px black;
}

.blogPost p{
    padding: 15px;
    margin: 0;
    box-shadow: inset 2px 2px 8px black;
    background-color: var(--lightBlue);
    height: 100%;
    overflow: hidden;
    color: black;
}

.blogPost footer {
    color: white;
    background-color: var(--darkBlue);
    padding: 10px;
}

.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #171717;
    height: 70vh;
    width: 30%;
    min-width: max-content;
    border-radius: 20px;
    box-shadow: 3px 3px 15px black;
    text-align: center;
    color: white;
    border: 1px solid silver;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto 0 auto;
}

.loginContainer input {
    border-radius: 10px;
    background-color:#222222;
    width: 90%;
    border: none;
    outline: none;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: var(--lightBlue);
    padding: 10px 15px 10px 15px;
    margin: 10px 0 15px 0;
}

.loginContainer h2{
    font-size: 30px;
    text-shadow: 2px 2px 8px black;
}

.loginContainer  input[type="submit"]{
    margin: auto;
    width: max-content;
    padding: .5rem 2rem .5rem 2rem;
    border: 1px solid black;
    color: var(--lightBlue);
    box-shadow: 1px 1px 5px black;
}

.loginContainer  input[type="submit"]:hover{
    color: black;
    background-color:var(--lightBlue);
    transition: box-shadow .2s;
    box-shadow: 1px 1px 20px var(--lightBlue);
}

.loginContainer a {
    color: #14FFEC;
    font-size: 20px;
    text-decoration: none;
}

.wide {
    width: 70%;
}

.wide h2 {
    margin: 0;
}

.wide textarea {
    border-radius: 10px;
    background-color:#222222;
    width: 90%;
    border: none;
    outline: none;
    box-shadow: inset 2px 5px 10px rgb(5, 5, 5);
    color: var(--lightBlue);
    padding: 10px 15px 10px 15px;
    margin: 10px 0 15px 0;
    resize: none;
}

#postList{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
}

.blogPost div {
    background-color: #0D7377;
    display: flex;
    justify-content: space-around;
}

.blogPost div button {
    padding: 8px 20px 8px 20px;
    margin: 8px;
    background-color: #212121;
    color: #14FFEC;
    border: 1px solid #14FFEC;
}

.blogPost div button:hover {
    background-color: #14FFEC;
    box-shadow: 1px 1px 10px #14FFEC;
    color: #171717;
}

#postTitle {
    font-size: 18px;
}

#dashboardHead {
    width: 100%;
    text-align: center;
    margin: -10px 0 20px 0;
}

#dashboardHead h1 {
    color: white;
    font-size: 40px;
    text-shadow: 2px 2px 10px black;
}

#dashboardHead button {
    padding: 10px;
    background-color: #171717;
    color: #14FFEC;
    border: 1px solid #14FFEC;
}

#dashboardHead button:hover {
    background-color: #14FFEC;
    box-shadow: 1px 1px 10px #14FFEC;
    color: #171717;
}